{% extends "layouts/default.html.twig" %}

{% block title %}Login
{% endblock %}

{% block body %}
	<section class="hero">
		<div class="hero-body pb-0 has-text-centered">
			<p class="title">Login</p>
			<p class="subtitle">Welcome, we are happy to see you again !</p>
		</div>
	</section>
	<section class="section">
		<div class="is-flex is-justify-content-center">
			<form method="post" class="box" style="min-width:50%">
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				{% if error %}
					<div class="notification is-danger">
						{{ error.messageKey|trans(error.messageData, 'security') }}
					</div>
				{% endif %}
				<div class="field">
					<label for="username" class="label">Username</label>
					<div class="control">
						<input type="text" id="username" name="_username" class="input" placeholder="admin, test, etc..." {% if last_username %} value="{{ last_username }}" {% endif %} required>
					</div>
				</div>
				<div class="field">
					<label for="password" class="label">Password</label>
					<div class="control">
						<input type="password" id="password" name="_password" class="input" placeholder="**********" required>
					</div>
				</div>
				<span>No account ?
					<a href="{{ path('app_register') }}">Sign up</a>
				</span>
				<button type="submit" class="button is-primary is-pulled-right">Log in</button>
			</form>
		</div>
	</section>
{% endblock %}
