{% extends "layouts/default.html.twig" %}

{% block title %}Login
{% endblock %}

{% block body %}
    <section class="hero">
        <div class="hero-body pb-0 has-text-centered">
            <p class="title">Register</p>
            <p class="subtitle">Welcome, we are happy to see you !</p>
        </div>
    </section>
    <section class="section">
        <div class="is-flex is-justify-content-center">
            <form method="post" class="box" style="min-width:50%">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                {% if errors %}
                    <div class="notification is-danger">
                        {{ errors }}
                    </div>
                {% endif %}
                <div class="field">
                    <label for="username" class="label">Username</label>
                    <div class="control">
                        <input type="text" id="username" name="username" class="input" placeholder="admin, test, etc..." required>
                    </div>
                </div>
                <div class="field">
                    <label for="password" class="label">Password</label>
                    <div class="control">
                        <input type="password" id="password" name="password" class="input" placeholder="**********" required>
                    </div>
                </div>
                <div class="field">
                    <label for="password-confirm" class="label">Confirm password</label>
                    <div class="control">
                        <input type="password" id="password-confirm" name="password_confirm" class="input" placeholder="**********" required>
                    </div>
                </div>
                <span>Already have an account ?
                    <a href="{{ path('app_login') }}">Log in</a>
                </span>
                <button type="submit" class="button is-primary is-pulled-right">Log in</button>
            </form>
        </div>
    </section>
{% endblock %}
